
$font-primary: 'Lato',Arial, sans-serif;
$primary: #e3b04b;
$secondary: #2b2b28;
$black: #000;
$white: #fff;
$lithgreen:#CAD8C8;
$green: #2C736C;


.content-section{
	padding: 6em 0;
}


.wrap{
	width: 100%;
	overflow: hidden;
	background: $white;
	border-radius: 5px;
	-webkit-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
	-moz-box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
	box-shadow: 0px 10px 34px -15px rgba(0,0,0,0.24);
}


.login-wrap{
	position: relative;
	background: $white
	h3{
		font-weight: 300;
	}
}


.form-group{
	position: relative;
	.label{
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: 1px;
		color: $black;
		font-weight: 600;
	}
	a{
		color: lighten($black,50%);
	}
}

//FORM CONTROL
.form-control {
	height: 48px;
	background: $white;
	color: $black;
	font-size: 16px;
	border-radius: 5px;
	box-shadow: none;
	border: 1px solid rgba(0,0,0,.1);
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.2) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.2) !important;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: rgba(0,0,0,.2) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.2) !important;
	}
	&:focus, &:active {
		outline: none !important;
		box-shadow: none;
		border: 1px solid #2C736C;;
	}
}

div a.float-end, div a.float-start{
	color: $secondary;
	font-size: 14px;
	font-weight: 400;
	&:hover{
     color: blue;
	 text-decoration: underline;
	}
}
.social-media{
	position: relative;
	width: 100%;
	.social-icon{
		display: block;
		width: 40px;
		height: 40px;
		background: transparent;
		border: 1px solid rgba(0,0,0,.05);
		font-size: 16px;
		margin-right: 5px;
		border-radius: 50%;
		span{
			color: lighten($black,60%);
		}
		&:hover, &:focus{
			background: $primary;
			span{
				color: $white;
			}
		}
	}
}

//CHECKBOX STYLE
.checkbox-wrap {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 12px;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-wrap input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "\f0c8";
  font-family: "FontAwesome";
  position: absolute;
  color:rgba(0,0,0,.1);
  font-size: 20px;
  margin-top: -4px;
  transition: (.3s);
}

/* Show the checkmark when checked */
.checkbox-wrap{
	input:checked ~ .checkmark:after {
	  display: block;
	  content: "\f14a";
	  font-family: "FontAwesome";
	  color: rgba(0,0,0,.2);
	}
}


.checkbox-primary{
	font-weight: 400;
	font-size: 14px;
  	color: $secondary;
  input:checked ~ .checkmark:after {
	  color: $green;
	}
}


//BUTTON
.btn-submit.btn {
	cursor: pointer;
	box-shadow: none!important;
	
	font-size: 18px;
	padding: 10px 20px;
	&:hover, &:active, &:focus {
		outline: none;
	}
	&.btn-primary {
		background: $green !important;
		border: 1px solid $lithgreen !important;
		color: $white !important;
		&:hover {
			border: 1px solid $lithgreen;
			background: transparent;
			color :$lithgreen;
		}
		&.btn-outline-primary {
			border: 1px solid $lithgreen;
			background: transparent;
			color :$lithgreen;
			&:hover {
				border: 1px solid transparent;
				background: $lithgreen;
				color :$white;
			}
		}
	}
}
.alert-p, .alert-u {
	position: absolute;
	font-size: 12px;
	height: 10px;
	margin: none;
	left: 6px;
	top: 5.9em;
	text-align: left !important;
	color: #ff0000;
 }

 .text-center {
   text-align: center;
 }



@media (max-width: 768px){
.p-md-5 {
    padding: 3rem !important;
}

.content-section{
	padding: 8.15em 0 !important;
	background-color: #2C736C;
}
.btn{
	margin-bottom: 14px;
	color: #e3b04b;
}
}

@media (max-width: 528px){
	.p-md-5 {
		padding: 1rem !important;
	}

	.content-section{
		padding: 10em 0;
	}
	.btn-submit.btn{
		margin-bottom: 14px !important;
		color: #e3b04b !important;
	}
}


@media (max-width: 345px){
	.p-md-5 {
		padding: 1rem !important;
	}

	.content-section{
		padding: 10.3em 0;
	}
	.container {
		padding: 5px !important;
	}
	.btn-submit.btn{
		margin-bottom: 14px !important;
		color: #e3b04b !important;
	}


	div a.float-end{
		display: none;
	}

	div a.float-start.d-none{
		display: block !important;
	}
}