
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
	box-sizing: border-box;
}

.container .content{
    width: 100%;
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
    align-content: center;
}

.no-guetters{
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25),
            0 10px 10px rgba(0,0,0,0.22);
    overflow: hidden;
    margin:  auto;
}

.loginImg {
    img{
        min-height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
}
  
h1 {
	font-weight: bold;
}
p {
	font-size: 18px;
	font-weight: 300;
	line-height: 20px;
	letter-spacing: 0.5px;
}

span {
	font-size: 12px;
}


a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button.btn {
    border-radius: 5px;
    border: 1px solid #5D8B47;
    background-color: #5D8B47;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    padding: .6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    margin-top: 20px;

}
button.btn:hover{
    background-color: #5D8B47;
    color: #FFFFFF;
}


form {
	display: flex;
	justify-content: center;
	flex-direction: column;
    margin: auto;
	height: 100%;
    padding:1.5em;
}

input {
    background-color: #eee;
    border: none;
    padding:1em;
    margin: 15px  0px ;
    font-size: 18px
}

.form-control:focus, button:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }


button:active {
	transform: scale(0.95);
}
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* bordure verte */
}

.ng-invalid:not(form) {
  border-left: 5px solid #ff0703; /* bordure rouge */
}


button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

.alert-p, .alert-u {
   font-size: 14px;
   height: 10px;
   margin: none;
   left: 6px;
   top: 9.5em;
   text-align: left !important;
   color: #ff0000;
}
.alert-p{
  top: 15.5em;
}
.text-center {
  text-align: center;
}
.w-100 {
  width: 25em;
}
/*validation
.ng-valid[required], .ng-valid.required {border: 1px solid #42A948;}
.error {color:#ff0000;}
.success { color:green; }
.contact-message { text-align: center; }*/





@media (min-width: 768px){
.container {
    min-width: 920px;
}
}

@media (min-width: 768px){
    .container {
        min-width: 920px;
    }
}
