


  <div  class="m-3 bg-white">
    <h3 mat-dialog-title class=" p-0 ps-3 p-title">Nouvel Alert</h3>
    <button type="button"  [mat-dialog-close]="true" class=" float-end btn-close-dialog">
      <i class="bi bi-x"></i>
    </button>
    <!-- <hr class="mt-0"> -->
    <!-- <div class="horizontal-line"></div> -->
    <div mat-dialog-content class="row px-0 p-1 no-gutters">
      <div class="forms-style">
  
        <form  [formGroup]="alertForm" class="user-form-container" (ngSubmit)="onSubmit()">
        
          <div class="row gx-3 form-row">
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="nom"
                formControlName="object"
                placeholder="Votre obet" required >
                <label for="nom">Objet</label>
              </div>
            </div>
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="code"
                formControlName="code"
                 placeholder="Code alert" required>
                <label for="code">Code</label>
              </div>
            </div>
          </div>
          <div class="row gx-3 form-row">
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="message"
                formControlName="message"
                placeholder="Votre message" required >
                <label for="message">Nbre de femmes</label>
              </div>
            </div>
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="file" class="form-control" id="file"
                 placeholder="" (change)="onFileSelected($event)" >
                <label for="file">Image</label>
              </div>
            </div>
          </div>
       
        
          <br>
          <div mat-dialog-actions class="float-end p-0">
            <span>
              <button type="button" mat-stroked-button [mat-dialog-close]="true"  class="btn-annuler">
                Annuler
              </button>
              <button type="submit" mat-flat-button class="btn-enregister">
                Enregistrer
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  