
/** modal container css **/

::ng-deep .full-with-dialog .mdc-dialog__container, ::ng-deep .full-with-dialog .mdc-dialog__surface {
    border-radius: 20px !important;
    width: 60vw;
}

:host .mdc-dialog__container{
    background: #000;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content{
    overflow: hidden !important;
}

.full-with-dialog{
    width: 100vw;
}

/** modal header css **/
.p-title{
    display: inline-block;
    margin-top: -18px !important;
    font-size: 18px;
    font-weight: 500;
}

hr.mt-0 {
    width: inherit;
    margin-left: -15px;
    margin-right: -15px;
}

.btn-close-dialog{
    margin-right: -1px !important;
    background-color: #fff;
    width: 35px;
    height: 30px;
    margin-top: 4px;
    display: inline;
    position: relative;
    border: none;

}

.btn-close-dialog:hover{
    margin-right: 0px !important;
    background-color: #ccc;
    border: none;
    border-radius: 4px;

}

.horizontal-line {
    border-top: 1px solid #ccc;
    margin: 16px 0;
  }




// form.user-form-container ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--filled .mat-mdc-form-field-infix {
//     padding-top:9px;

// }

/** modal form css **/

form.user-form-container div.sm-pb-3{
    padding-bottom: 16px;
}

form.user-form-container .form-control:focus,
form.user-form-container .form-select:focus{
    outline: 0 !important;
    outline: none !important;
    box-shadow: none;
   border-color: #CAD8C8;
}

form.user-form-container #prenom::after{
    background-image: none !important;
}

form.user-form-container .form-control::placeholder
{
    display: none;
}

form.user-form-container .form-control:focus::placeholder
{
    color: #cecccc;
    font-weight: 500 !important;
}

:host  form.user-form-container label
{
    color: #000;
    font-weight: 500;
    font-size: 18px;
    &::after
    {
        background-color:transparent ;
    }

}




form.user-form-container  .form-control:focus + label,
form.user-form-container .form-select:focus + label
{
    top: -5px;
    font-size: 20px;
}

form.user-form-container .form-control,
form.user-form-container .form-select
{
    color: #000000f7;
    font-weight: lighter;
    border-radius: 10px;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s;
}

/** modal action button  css **/

.btn-annuler, .btn-enregister {
    width: 12rem;
    font-size: 14px;
    border-radius: 10px;
    height: 3rem;
    border: none;
}

.btn-annuler {
    background: #cecccc;
    color: #000;
}

.btn-enregister {
    background-color: #5D8B47 !important;
    color: #fff;
}


/** modal media query **/
@media (min-width: 200px){
    mat-dialog-container{
      max-width: 100vw;
    }
    
    form.user-form-container div.sm-pb-3{
        padding-bottom: 16px;

    }
}

/* ng-multiselect css */
:host ::ng-deep .multiselect-dropdown .dropdown-btn {
    display: inline-block!important;
    width: 100%!important;
    padding: 6px 12px!important;
    margin-bottom: 0!important;
    font-size: 12px !important;
    font-weight: 400!important;
    line-height: 1.1 !important;
    border: 1px solid rgb(133, 133, 133, 0.2) !important;
    text-align: left!important;
    vertical-align: middle!important;
    cursor: pointer!important;
    background-image: none!important;
    border-radius: 10px!important;
    height: 58px;
    overflow: hidden;

    .dropdown-multiselect__caret{
        top: 10px !important;
    }
    .dropdown-multiselect__caret::after{
        content: "" !important;
    }
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn:focus{
    border-color: #000 !important;
}

:host ::ng-deep .multiselect-dropdown .dropdown-list{
    margin-top: 0px;
    border-radius: 18px !important;
    background-color: #f8f8f8;
    box-shadow: none !important;
    border: none;
    z-index: 99999999999;
    position: relative;
    padding-bottom: 6px !important;
    .item2{
        font-size: 12px;
      }
      .multiselect-item-checkbox{
       padding: 0px 12px;
 
       input[type=checkbox] + div::before{
         width: 10px !important;
         height: 10px !important;
         border-color: #cecccc !important;
         top: 60% !important;
         left: 0.5%;
       }
       input[type=checkbox]:checked + div::before{
         border-color: #5D8B47 !important;
         background-color: #5D8B47;
         font-weight: bold !important;
       }
       input[type=checkbox]:checked + div{
         font-weight: bold !important;
       }
     
      }
}


:host ::ng-deep .multiselect-dropdown .selected-item-container{
    margin-top: 25px;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn .ng-star-inserted
{
    display: none !important;
}

:host ::ng-deep .multiselect-dropdown .dropdown-btn:focus + .ng-star-inserted{
    border-color: #000 !important;
    display: block !important;
}

:host .form-floating:focus-within .label-role,
:host .form-floating:focus-within .label-projet {
    top: -5px;
    font-size: 20px;
    transform: scale(.85) translateY(-0.5rem) translateX(0.15rem) !important;
    &::before {
        position: absolute;
        top: 10px !important;
        color: #5D8B47;
        height: 50px !important;
      }
 }

:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container{
    display: block !important;
}
:host ::ng-deep .multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
    display: block !important;
    color: #5D8B47 !important;
    background-color: #cae0f9 !important;
    border-radius: 5px !important;
    border: none !important;
    font-weight: 500;

    a {
        color: #5D8B47 !important;
    }
}

// after select item 
.label-role.label_after,
.label-projet.label_after{
    top: -12px;
    font-size: 16px !important;
}



