
<div  class="my-3 bg-white">
    <h3 mat-dialog-title class=" p-0 ps-3 p-title">Nouvel départemant</h3>
    <button type="button"  [mat-dialog-close]="true" class=" float-end btn-close-dialog">
      <i class="bi bi-x"></i>
    </button>
    <hr class="mt-">
    <div mat-dialog-content class="row px-0 p-1 no-gutters">
      <div class="forms-style px-3">
  
        <form  [formGroup]="departForm" class="user-form-container" (ngSubmit)="onSubmit()">
        
          <div class="row gx-3 form-row">
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="nom"
                formControlName="departmentName"
                placeholder="Nom departemant" required >
                <label for="nom">Nom</label>
              </div>
            </div>
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="code"
                formControlName="departmentCode"
                 placeholder="Code departemant" required>
                <label for="code">Code</label>
              </div>
            </div>
          </div>
          <div class="row gx-3"> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <ng-container *ngComponentOutlet="
                  fileUpload.component;
                  inputs: fileUpload.inputs;
                  " 
                  
                />
              </div>
            </div> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                
              <label for="role" class="label-role " >Région</label>
                <ng-multiselect-dropdown
                formControlName="region"
                required="true"
                placeholder=""
                id="role"
                [settings]="regionSettings"
                [data]="listRegions"
                (onSelect)="onItemSelectRegion($event)"
                (onDropDownClose)="onDropDownCloseRegion()"
                (onDeSelect)="onItemDeSelectRegion($event)"
                >
                
              </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <br>
          <div mat-dialog-actions class="float-end p-0">
            <span>
              <button type="button" mat-stroked-button [mat-dialog-close]="true"  class="btn-annuler">
                Annuler
              </button>
              <button type="submit" mat-flat-button class="btn-enregister">
                Enregistrer
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>