$font-primary: 'Poppins',Arial, sans-serif;
$primary: #3445b4;
$secondary: #44bef1;
$white: #fff;

#sidebar .logo {
  display: block ;
  width: 100%;
  margin-bottom: 20px;

}
@media (min-width: 1200px) {
  #sidebar .logo {
    width: 100%;
  }
}
#sidebar .logo img {
  margin: auto ;
  height: 6em;
  object-fit: contain;

}

#sidebar div.description {
  margin: -50px 10px 10px 10px;
  font-size: 13px;
  font-weight: 500 ;
  text-align: center;
  font-family: "Nunito", sans-serif;
}
/*--------------------------------------------------------------
# Menu icon
--------------------------------------------------------------*/
.side-menu{
  position: relative;
  float: right;
  right: 0px;
  z-index: 9999999999;
   .menu-icon {
     cursor: pointer;
     margin-bottom: 30px;
     color: #fff; 
     border-radius: 0px;
     background-color: #0075ff;
     font-size: 25px !important;
     margin-right: 10px;
     }
 }
 


  .custom-menu{
		display: inline-block;
		position: absolute;
		top: 20px;
		right: 0;
		margin-right: -27px;
		transition:(.3s);
		.btn{
			width: 60px;
			height: 60px;
			border-radius: 50%;
			position: relative;
			i{
				margin-right: -38px;
				font-size: 20px;
			}
			&.btn-primary{
				background: transparent;
				border-color: transparent;
				&:after{
					z-index: -1;
					position: absolute;
					top: 0;
					left: 0;
					right: 0;
					bottom: 0;
					content: '';
				  transform: rotate(45deg);
          background: linear-gradient(to left, #1c45ef, #1c45ef);
				  border-radius: 10px;
				}
				&:hover, &:focus{
					background: transparent !important;
					border-color: transparent !important;
				}
			}
		}
  }



a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}




/*--------------------------------------------------------------
# Sidebar
--------------------------------------------------------------*/

.sidebar {
  position: fixed;
  top: 0px;
  left:0px;
  bottom: 0;
  width: 300px;
  z-index: 996;
  transition: all 0.3s;
  padding: 20px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff !important;
}
aside{
  background:#1a1d23; 
  width:250px;height:100vh; 
  position:fixed; 
  transition:.3s;
  left:-250px;top:0;
  transition-timing-function: cubic-bezier(0.9,0,1,1);}

  aside.close{left:0;transition:.3s;transition-timing-function: cubic-bezier(0.9,0,1,1);}
.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}
.sidebar::-webkit-scrollbar-thumb {
  background-color: #aab7cf;
}
.sidebar .brand-menu{
  h1{
    font-size: 2em;
    font-weight: bold;
    padding: 10px 15px;

  }
}

.sidebar .btn-disconnect{
  position: absolute;
  bottom: -5px;
  left: 0px !important;
  right: 0px;
  
  a{

    background-color: #000;
    color: #5D8B47;
    border-radius: 0px !important;
    padding-left: 30px;
    i {
      font-size: 28px;
      margin-right: 20px;
      color: #5D8B47;
    }
  }

}


.sidebar-nav {
  padding: 0;
  margin: 0;
  list-style: none;
  li {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}

.sidebar-nav .nav-item {
  margin-bottom: 5px;
}

.sidebar-nav .nav-heading {
  font-size: 11px;
  text-transform: uppercase;
  color: #899bbd;
  font-weight: 600;
  margin: 10px 0 5px 15px;
}


.sidebar-nav .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  font-weight: 500;
  color: #fff;
  transition: 0.3;
  color: #000;
  background: #fff;
  padding: 8px 15px;
  border-radius: 4px;
  i {
    font-size: 28px;
    margin-right: 20px;
    color: #fff;
  }
}
.sidebar-nav .nav-link:not(.collapsed)  {
 
  color: #fff;
  background: #5D8B47;
  i {
    &::before{
      font-weight: 700 !important;
    }
  }
}

.sidebar-nav .nav-link.collapsed {
  color: #000;
  background: #fff;
}

 .sidebar-nav .nav-link.collapsed i {
  color: #000;
  font-weight: 700 !important;
}
.sidebar-nav .nav-link:hover {
  color: #000;
  background: #CAD8C8;
  i{
    color: #000;
  }
}
.sidebar-nav .nav-link .bi-chevron-down {
  margin-right: 0;
  transition: transform 0.2s ease-in-out;
}
.sidebar-nav .nav-link:not(.collapsed) .bi-chevron-down {
  transform: rotate(180deg);
}
.sidebar-nav .nav-content {
  padding: 5px 0 0 0;
  margin: 0;
  list-style: none;
}
.sidebar-nav .nav-content a {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  transition: 0.3;
  padding: 10px 0 10px 40px;
  transition: 0.3s;
}
.sidebar-nav .nav-content a i {
  font-size: 6px;
  margin-right: 8px;
  line-height: 0;
  border-radius: 50%;
}
.sidebar-nav .nav-content a:hover,
 .sidebar-nav .nav-content a.active {
  color: #4154f1;
}
.sidebar-nav .nav-content a.active i {
  background-color: #4154f1;
}



