
<aside id="sidebar" class="sidebar" #sidebar>
  <div class=" align-items-center justify-content-center">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../../assets/images/SONAGED.png" alt="">
    </a>
  
    <!-- <div class="d-none d-lg-block description">
        UNITE DE COORDINATION DE LA GESTION DES DECHETS SOLIDES
    </div> -->
  </div><!-- End Logo -->

  <div class="brand-menu">
    <h1>MENU</h1>
  </div>
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/users">
          <i class="bi bi-person"></i>
          <span>Gestion Utilisateur</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Departement</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Commune</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Quartier</span>
        </a>
      </li><!-- End Register Page Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-faq.html">
          <i class="bi bi-question-circle"></i>
          <span>Gestion Depotoir</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-contact.html">
          <i class="bi bi-envelope"></i>
          <span>Gestion Moblier Urbain</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Circuit</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Notification</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="pages-register.html">
          <i class="bi bi-card-list"></i>
          <span>Gestion Alerte</span>
        </a>
      </li><!-- End Register Page Nav -->

      <li class="nav-item btn-disconnect">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-right"></i>
          <span>Se déconnecter</span>
        </a>
      </li><!-- End Login Page Nav -->

   
    </ul>

  </aside><!-- End Sidebar-->
