
<aside id="sidebar" class="sidebar" #sidebar>
  <div class=" align-items-center justify-content-center">
    <a href="index.html" class="logo d-flex align-items-center">
      <img src="../../assets/images/SONAGED.png" alt="">
    </a>
  
    <!-- <div class="d-none d-lg-block description">
        UNITE DE COORDINATION DE LA GESTION DES DECHETS SOLIDES
    </div> -->
  </div><!-- End Logo -->

  <div class="brand-menu">
    <h1>MENU</h1>
  </div>
    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " routerLink="/">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/supervision">
          <i class="bi bi-map"></i>
          <span>Carte de supervision</span>
        </a>
      </li><!-- End Supervision Map Nav -->

      
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/users">
          <i class="bi bi-person"></i>
          <span>Gestion Utilisateur</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/authorities">
          <i class="bi bi-shield-lock"></i>
          <span>Gestion des rôles</span>
        </a>
      </li><!-- End Authorities Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/departments">
          <i class="bi bi-card-list"></i>
          <span>Gestion Departement</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/communes">
          <i class="bi bi-card-list"></i>
          <span>Gestion Commune</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/quartiers">
          <i class="bi bi-card-list"></i>
          <span>Gestion Quartier</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/regions">
          <i class="bi bi-card-list"></i>
          <span>Gestion Région</span>
        </a>
      </li><!-- End Region Nav -->


      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/depotoirs">
          <i class="bi bi-question-circle"></i>
          <span>Gestion Depotoir</span>
        </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/coordinates">
          <i class="bi bi-pin-map"></i>
          <span>Coordonnées</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/geometries">
          <i class="bi bi-bounding-box"></i>
          <span>Géométries</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/typedepotoirs">
          <i class="bi bi-card-list"></i>
          <span>Types de dépotoir</span>
        </a>
      </li><!-- End Type Depotoir Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/moblier-urbains">
          <i class="bi bi-envelope"></i>
          <span>Gestion Moblier Urbain</span>
        </a>
      </li><!-- End Contact Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/circuits">
          <i class="bi bi-card-list"></i>
          <span>Gestion Circuit</span>
        </a>
      </li><!-- End Register Page Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/circuit-collects">
          <i class="bi bi-card-list"></i>
          <span>Circuits de collecte</span>
        </a>
      </li><!-- End Circuit Collect Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/circuit-balayages">
          <i class="bi bi-card-list"></i>
          <span>Circuits de balayage</span>
        </a>
      </li><!-- End Circuit Balayage Nav -->
      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/alerts">
          <i class="bi bi-bell"></i>
          <span>Gestion Alerte</span>
        </a>
      </li><!-- End Alerte Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" routerLink="/import">
          <i class="bi bi-cloud-arrow-up"></i>
          <span>Import de données</span>
        </a>
      </li><!-- End Import Nav -->

      <li class="nav-item btn-disconnect">
        <a class="nav-link collapsed" href="pages-login.html">
          <i class="bi bi-box-arrow-right"></i>
          <span>Se déconnecter</span>
        </a>
      </li><!-- End Login Page Nav -->

   
    </ul>

  </aside><!-- End Sidebar-->
