<aside id="sidebar" class="sidebar" #sidebar>
  <div class="align-items-center justify-content-center">
    <a [routerLink]="['/']" class="logo d-flex align-items-center">
      <img src="../../assets/images/SONAGED.png" alt="" />
    </a>

    <!-- <div class="d-none d-lg-block description">
        UNITE DE COORDINATION DE LA DES DECHETS SOLIDES
    </div> -->
  </div>
  <!-- End Logo -->

  <div class="brand-menu">
    <h1>MENU</h1>
  </div>
  <ul class="sidebar-nav" id="sidebar-nav">
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        [routerLink]="['/']"
        routerLinkActive="active-link"
      >
        <i class="bi bi-grid"></i>
        <span>Dashboard</span>
      </a>
    </li>
  
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        data-bs-target="#components-nav"
        data-bs-toggle="collapse"
        href="#"
      >
        <i class="ri-file-settings-line"></i><span>Gestion ressouces</span
        ><i class="bi bi-chevron-down ms-auto"></i>
      </a>
      <ul
        id="components-nav"
        class="nav-content collapse"
        data-bs-parent="#sidebar-nav"
      >



        <li>
          <a routerLink="/users" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Utilisateur</span>
          </a>
        </li>

        <li>
          <a routerLink="/departements" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Département</span>
          </a>
        </li>
        <li>
          <a routerLink="/communes" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Commune</span>
          </a>
        </li>
        <li>
          <a routerLink="/quartiers" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Quartier</span>
          </a>
        </li>

        <li>
          <a routerLink="/depotoirs" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Dépotoir</span>
          </a>
        </li>

        <li>
          <a routerLink="/circuits" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Circuit</span>
          </a>
        </li>

        <li>
          <a routerLink="/userss" routerLinkActive="active-link">
            <i class="bi bi-circle"></i>
            <span>Moblier Urbain</span>
          </a>
        </li>
      
      </ul>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/maps"
        routerLinkActive="active-link"
      >
        <i class="bi bi-map"></i>
        <span>Carte</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/notifications"
        routerLinkActive="active-link"
      >
        <i class="bi bi-bell"></i>
        <span>Notification</span>
      </a>
    </li>

    <li class="nav-item">
      <a
        class="nav-link collapsed"
        routerLink="/alerts"
        routerLinkActive="active-link"
      >
        <i class="ri-alert-line"></i>
        <span>Alerte</span>
      </a>
    </li>
    <li class="nav-item">
      <a
        class="nav-link collapsed"
        [routerLink]="['/profil']"
        routerLinkActive="active-link"
      >
        <i class="bi bi-person"></i>
        <span>Profil</span>
      </a>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <ul >
    <li class="nav-item btn-disconnect">
      <a class="nav-link collapsed" routerLinkActive="active-link">
        <i class="bi bi-box-arrow-right"></i>
        <span>Se déconnecter</span>
      </a>
    </li>
  </ul>
</aside>
<!-- End Sidebar-->
