<div class="generalcontainer">
  <div class="search-filter">
    <div class="mat-form-field">
      <mat-form-field appearance="outline" style="width: 100%">
        <mat-label
          style="display: flex; flex-direction: row; justify-content: center"
        >
          <mat-icon style="font-size: larger; margin-right: 0.5rem"
            >search</mat-icon
          >
          Recherche
        </mat-label>
        <input matInput (keyup)="($event)" placeholder="" #input />
      </mat-form-field>
    </div>
    <mat-form-field
      appearance="outline"
      style="width: 12%"
      mat-stroked-button
      class="btn-filter"
    >
      <mat-label>
        <mat-icon style="padding-right: 2rem">filter_list</mat-icon>
        Filter
      </mat-label>
      <mat-select>
        <mat-option value="option1">h</mat-option>
        <mat-option value="option2">n</mat-option>
        <mat-option value="option3">n</mat-option>
      </mat-select>
    </mat-form-field>
    <button
      mat-flat-button
      class="add-user-btn"
      (click)="openCreateDepotoirModal()"
    >
      Ajouter Dépotoir
    </button>
  </div>
  <table
    mat-table
    [dataSource]="dataSource"
    aria-describedby="display departs"
    class="mat-elevation-z0"
    style="border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem"
    matSort
    matSortActive="created"
    matSortDisableClear
    matSortDirection="asc"
    (matSortChange)="announceSortChange($event)"
  >
    <ng-container matColumnDef="depotoirAddress">
      <th
        style="border-top-left-radius: 1.25rem"
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Adresse
        <mat-icon type="button" class="swap-sort-header-arrow"
          >swap_vert</mat-icon
        >
      </th>
      <td mat-cell *matCellDef="let element">{{ element.address }}</td>
    </ng-container>

    <ng-container matColumnDef="typeDepotoir">
      <th
        mat-header-cell
        *matHeaderCellDef
        mat-sort-header
        sortActionDescription="Sort by name"
      >
        Nom
        <mat-icon type="button" class="swap-sort-header-arrow"
          >swap_vert</mat-icon
        >
      </th>
      <td mat-cell *matCellDef="let element">
        {{ element.typeDepotoir.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="commune">
      <th mat-header-cell *matHeaderCellDef>Commune</th>
      <td mat-cell *matCellDef="let element">
        {{ element.commune?.name }}
      </td>
    </ng-container>

    <ng-container matColumnDef="longitude">
      <th mat-header-cell *matHeaderCellDef>Longitude</th>
      <td mat-cell *matCellDef="let element">{{ element.coordinates[0]?.longitude }}</td>
    </ng-container>

    <ng-container matColumnDef="latitude">
      <th mat-header-cell *matHeaderCellDef>Latitude</th>
      <td mat-cell *matCellDef="let element">{{ element.coordinates[0]?.latitude }}</td>
    </ng-container>

    <ng-container matColumnDef="action">
      <th
        style="border-top-right-radius: 1.25rem"
        mat-header-cell
        *matHeaderCellDef
      >
        Actions
      </th>
      <td mat-cell *matCellDef="let element">
        <i
          class="bi bi-pencil-square"
          (click)="openUpdateDepotoirModal(element.depotoirId)"
        ></i
        >&nbsp;
        <i
          class="bi bi-trash-fill"
          (click)="openDeleteDepotoirModal(element.depotoirId)"
        ></i>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div class="text-center my-5 lg-text" *ngIf="totalDepotoirs <= 0">
    Auncune donnée n'est disponible sur ce tableau
  </div>

 
  <app-pagination-custumer 
    [length]="totalDepotoirs"
    [pageSize]="itemsPerPage"
    [pageSizeOptions]="pageSizeOptions"
    [totalPages]="totalPages"
    (pageChange)="onPaginatedChange($event)">
  </app-pagination-custumer>

</div>
