::ng-deep .success-with-dialog .mdc-dialog__container, ::ng-deep .success-with-dialog .mdc-dialog__surface {
    border-radius: 20px !important;
    width: 40vw;
}

::ng-deep  .mat-dialog-title span {
    align-items: center;
    justify-content: center;
    margin-top: 25px ;
  
}

:host  .mdc-dialog__content{
    font-weight: bold;
    color: black;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 30px;
}

::ng-deep .mat-mdc-dialog-container .mdc-dialog__content{
    overflow: hidden !important;
}

.success-with-dialog{
    text-align: center;
    margin-bottom: 25px;
    align-items: center;
    justify-content: center;
}
