<!-- <label for="role" class="label-role " >Région</label>
<ng-multiselect-dropdown
formControlName="region"
required="true"
placeholder=""
id="role"
[settings]="regionSettings"
[data]="listRegions"
(onSelect)="onItemSelectRegion($event)"
(onDropDownClose)="onDropDownCloseRegion()"
(onDeSelect)="onItemDeSelectRegion($event)"
>

</ng-multiselect-dropdown> -->

<!-- multiselect.component.html -->
<div class="dropdown-container">
    <label [ngClass]="labelClass">Select Item</label>
    <ng-multiselect-dropdown
      [data]="listItems"
      formControlName="name"
      required="true"
      placeholder=""
      id="role"
      [settings]="dropdownSettings"
      (onDropDownClose)="onDropDownClose()"
      (onSelect)="onItemSelect($event)"
      (onDeSelect)="onItemDeSelect($event)">
    </ng-multiselect-dropdown>
  </div>
  