//@import '../../../../assets/scss/modal.scss';
.delete-section{
    padding: 1em;
}
.delete-section p{
    width: 100%;
    text-align: center;
    padding-bottom: 4vh;
    font-size: 18px;
    
}

::ng-deep .full-with-dialog .mdc-dialog__container, ::ng-deep .full-with-dialog .mdc-dialog__surface {
    border-radius: 10px !important;
   // width: 60vw;
  }
  
  .delete-section .center{
    text-align: center;
    justify-content: center;
    
  }
  /** modal action button  css **/
  
  .btn-annuler, .btn-enregister {
    width: 6rem;
    font-size: 16px;
    border-radius: 5px;
    height: 2rem;
    border: none;
  }
  
  .btn-annuler {
    background: #cecccc;
    color: #000;
  }
  
  .btn-enregister {
    background-color: #5D8B47 !important;
    color: #fff;
  }

