<div class="generalcontainer">
 
  <div class="search-filter">
    <div class="mat-form-field">
      <mat-form-field appearance="outline" style="width: 100%;">
        <mat-label style="display: flex; flex-direction: row; justify-content: center;">
          <mat-icon style="font-size: larger; margin-right: 0.5rem;">search</mat-icon>
          Recherche
        </mat-label>
        <input matInput (keyup)="($event)" placeholder="" #input>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline" style="width: 12%;" mat-stroked-button class="btn-filter" >
      <mat-label>
        <mat-icon style="padding-right: 2rem">filter_list</mat-icon>
        Filter
      </mat-label>
      <mat-select>
        <mat-option value="option1">Das</mat-option>
        <mat-option value="option2">Role</mat-option>
        <mat-option value="option3">Email</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-flat-button class="add-user-btn"  (click)="OpenCreateUserModal()"  >Ajouter utilisateur</button>
  </div>
    <table mat-table [dataSource]="dataSource" aria-describedby="display users"
     class="mat-elevation-z0" style="border-top-left-radius: 1.25rem; border-top-right-radius: 1.25rem"
     matSort matSortActive="created" 
     matSortDisableClear matSortDirection="asc"
     (matSortChange)="announceSortChange($event)"
     >
      <ng-container matColumnDef="userLastname">

        <th style="border-top-left-radius: 1.25rem" mat-header-cell
         *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nom 
           <mat-icon type="button" class="swap-sort-header-arrow">swap_vert</mat-icon> </th>
        <td mat-cell *matCellDef="let element"> {{element.userLastname }} </td>
      </ng-container>

      <ng-container matColumnDef="userFirstname">

        <th mat-header-cell
         *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Prénom 
           <mat-icon type="button" class="swap-sort-header-arrow">swap_vert</mat-icon> </th>
        <td mat-cell *matCellDef="let element"> {{element.userFirstname }} </td>
      </ng-container>

      <ng-container matColumnDef="userEmail">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let element"> {{element.userEmail}} </td>
      </ng-container>

      <ng-container matColumnDef="userAddress">
        <th mat-header-cell *matHeaderCellDef> Das </th>
        <td mat-cell *matCellDef="let element"> {{element.userAddress}} </td>
      </ng-container>

      <ng-container matColumnDef="userPhone">
        <th mat-header-cell *matHeaderCellDef> Projet attribué </th>
        <td mat-cell *matCellDef="let element"> {{element.userPhone}} </td>
      
      </ng-container>

      <ng-container matColumnDef="action">
        <th style="border-top-right-radius: 1.25rem" mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element">
          <i class="bi bi-pencil-square " (click)="OpenUpdateUserModal(element.id)"></i>&nbsp;
          <i class="bi bi-trash-fill"  (click)="onDeleteUser(element.id)"></i>
          
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  <mat-paginator [hidePageSize]="true" [pageSizeOptions]="[20, 40, 60]"
    style="border: none; display: none;"></mat-paginator>

  <!-- <div class="custom-pagination">
    <div class="pagination">
      <div class="page-item" *ngIf="p > 1">
        <mat-icon (click)="previousPage()">chevron_left</mat-icon>
      </div>
      <ng-container *ngFor="let page of getPages(p)">
        <div class="page-item" [class.active]="page === p">
          <div (click)="goToPage(page)">{{ page }}</div>
        </div>
      </ng-container>
      <div class="page-item" *ngIf="iSnextPage">
        <mat-icon (click)="nextPage()">chevron_right</mat-icon>
      </div>
    </div>
    <div class="tableInfos">{{(this.p - 1) * this.itemsPerPage}} - {{(this.p - 1) * this.itemsPerPage + this.itemsPerPage}} / {{totalUsers}} résultats</div>
  </div> -->
</div>