
<div  class="m-3 bg-white">
    <h3 mat-dialog-title class=" p-0 ps-3 p-title">Nouvel départemant</h3>
    <button type="button"  [mat-dialog-close]="true" class=" float-end btn-close-dialog">
      <i class="bi bi-x"></i>
    </button>
    <!-- <hr class="mt-0"> -->
    <!-- <div class="horizontal-line"></div> -->
    <div mat-dialog-content class="row px-0 p-1 no-gutters">
      <div class="forms-style">
  
        <form  [formGroup]="circuitForm" class="user-form-container" (ngSubmit)="onSubmit()">
        
          <div class="row gx-3 form-row">
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="address"
                formControlName="depotoirAddress"
                placeholder="Adresse " required >
                <label for="address">Adresse</label>
              </div>
            </div>
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="longitude"
                formControlName="longitude"
                 placeholder="Longitude du dépotoir" required>
                <label for="longitude">Longitude</label>
              </div>
            </div>
          </div>
          <div class="row gx-3"> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="latitude"
                formControlName="latitude"
                 placeholder="latitude du dépotoir" >
                <label for="geometry">Latitude</label>
              </div>
            </div> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                
              <label for="role" class="label-role " >Nom</label>
                <ng-multiselect-dropdown
                formControlName="typeDepotoir"
                required="true"
                placeholder=""
                id="role"
                [settings]="depotoirSettings"
                [data]="listDepotoirs"
                (onSelect)="onItemSelectRole($event)"
                (onDropDownClose)="onDropDownCloseRole()"
                (onDeSelect)="onItemDeSelectRole($event)"
                >
                
              </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <div class="row gx-3"> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                <input type="text" class="form-control" id="latitude"
                formControlName="latitude"
                 placeholder="latitude du dépotoir" >
                <label for="geometry">Latitude</label>
              </div>
            </div> 
            <div class="col-md sm-pb-3">
              <div class="form-floating">
                
              <label for="role" class="label-role " >Nom</label>
                <ng-multiselect-dropdown
                formControlName="typeDepotoir"
                required="true"
                placeholder=""
                id="role"
                [settings]="quartierSettings"
                [data]="listQuartiers"
                (onSelect)="onItemSelectRole($event)"
                (onDropDownClose)="onDropDownCloseRole()"
                (onDeSelect)="onItemDeSelectRole($event)"
                >
                
              </ng-multiselect-dropdown>
              </div>
            </div>
          </div>
          <br>
          <div mat-dialog-actions class="float-end p-0">
            <span>
              <button type="button" mat-stroked-button [mat-dialog-close]="true"  class="btn-annuler">
                Annuler
              </button>
              <button type="submit" mat-flat-button class="btn-enregister">
                Enregistrer
              </button>
            </span>
          </div>
        </form>
      </div>
    </div>
  </div>
  