.mat-mdc-table .mdc-data-table__header-row {
    height: 30px;
    background-color: rgba(147, 192, 245, 0.45);
    font-weight: bold;
  }
  
  .mat-mdc-table .mdc-data-table__row {
    height: 30px;
  }

.scroll-container {
    width: 100%; /* Adjust width as needed */
    height: 100vh; /* Adjust height as needed */
    overflow-x: auto; /* Enable horizontal scrolling */
    overflow-y: auto; /* Enable vertical scrolling */
}
.icon-edit-edit {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.2rem 0 0.2rem;
    object-fit: contain;
  }
  
  .icon-edit-delete {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0 0.2rem 0 0.2rem;
    object-fit: contain;
  }
  .swap-sort-header-arrow{
    position: absolute;
    margin-left: 130px;
  
  }
  ::ng-deep .mat-sort-header-container:hover    .swap-sort-header-arrow{
    font-size: 27px !important;
  }
  
  ::ng-deep .mat-sort-header-arrow[style] {
  
    // Hide default arrow stem
    .mat-sort-header-stem {
      display: none;
    }
    .mat-sort-header-indicator {
      opacity: 1;
      color: black;
      font-weight: bold;
  
      // Hide default arrow as its composed of left, right and middle
      .mat-sort-header-pointer-left, .mat-sort-header-pointer-right, .mat-sort-header-pointer-middle  {
        display: none;
      }
    }
  }

  // My custom ascending arrow
[aria-sort="ascending"] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        font: normal normal normal 1.1rem FontAwesome;
        &::before {
          content: "";
          position: absolute;
        }
      }
    }
  }
  
  // My custom descending arrow
  [aria-sort="descending"] {
    ::ng-deep .mat-sort-header-arrow {
      .mat-sort-header-indicator {
        &::before {
          content:  "";
          position: absolute;
        }
      }
    }
  }

.bd-right{
    border-right: 1px solid rgba(128, 128, 128, 0.249);
}
.bd-left{
    border-left: 1px solid rgba(128, 128, 128, 0.249);
}
table{
    border-bottom: 1px solid rgba(128, 128, 128, 0.249);
}